/*
    Light red: dc5037
    Dark red: a62f1a
*/
body{
    background-color: white;
}

h1{
	font-size:15vh;
	line-height:0.8;
	font-family: "Arial Black";
	color:#dc5037;
}

p{
	font-size:4vh;
	line-height:0.8;
	font-family: "Arial Black"
}

a:link{
	line-height:0.8;
	text-decoration:none;
	color:black;
}

a:visited{
	line-height:0.8;
	text-decoration:none;
	color:black;
}