/*720x1280*/
body{
    background-color: dimgray;
}


input.pin{
    height:120px;
    position: relative;
    z-index: 1;
}

div.gallery{
    background-color:white;
    border-style:solid;
    border-width: 5px;
    width: 230px;
    position: relative;
	display:none;
}

button{
    height:60px;
    width: 90px;
}

#mapImg{
    position:absolute;
    top:1px;
    left:1px;
    height:100vh;
    width:auto;
   overflow: hidden;
    z-index:0;
}

